<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API</key>
	<string>https://usth.eycia.me</string>
	<key>um_secret</key>
	<string>secretstringaldfkals</string>
	<key>um_appKey</key>
	<string>59195b5e8630f5143a001225</string>
</dict>
</plist>
